/node_modules/*
/vendor/*
.vendor
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/LICENSE
vendor/sebastian/comparator/.php_cs.dist
vendor/sebastian/comparator/.travis.yml
vendor/sebastian/comparator/build.xml
vendor/sebastian/comparator/ChangeLog.md
vendor/sebastian/comparator/composer.json
vendor/sebastian/comparator/LICENSE
vendor/sebastian/comparator/phpunit.xml
vendor/sebastian/comparator/README.md
vendor/sebastian/comparator/src/ArrayComparator.php
vendor/sebastian/comparator/src/Comparator.php
vendor/sebastian/comparator/src/ComparisonFailure.php
vendor/sebastian/comparator/src/DateTimeComparator.php
vendor/sebastian/comparator/src/DOMNodeComparator.php
vendor/sebastian/comparator/src/DoubleComparator.php
vendor/sebastian/comparator/src/ExceptionComparator.php
vendor/sebastian/comparator/src/Factory.php
vendor/sebastian/comparator/src/MockObjectComparator.php
vendor/sebastian/comparator/src/NumericComparator.php
vendor/sebastian/comparator/src/ObjectComparator.php
vendor/sebastian/comparator/src/ResourceComparator.php
vendor/sebastian/comparator/src/ScalarComparator.php
vendor/sebastian/comparator/src/SplObjectStorageComparator.php
vendor/sebastian/comparator/src/TypeComparator.php
vendor/sebastian/comparator/tests/_fixture/Author.php
vendor/sebastian/comparator/tests/_fixture/Book.php
vendor/sebastian/comparator/tests/_fixture/ClassWithToString.php
vendor/sebastian/comparator/tests/_fixture/SampleClass.php
vendor/sebastian/comparator/tests/_fixture/Struct.php
vendor/sebastian/comparator/tests/_fixture/TestClass.php
vendor/sebastian/comparator/tests/_fixture/TestClassComparator.php
vendor/sebastian/comparator/tests/ArrayComparatorTest.php
vendor/sebastian/comparator/tests/ComparisonFailureTest.php
vendor/sebastian/comparator/tests/DateTimeComparatorTest.php
vendor/sebastian/comparator/tests/DOMNodeComparatorTest.php
vendor/sebastian/comparator/tests/DoubleComparatorTest.php
vendor/sebastian/comparator/tests/ExceptionComparatorTest.php
vendor/sebastian/comparator/tests/FactoryTest.php
vendor/sebastian/comparator/tests/MockObjectComparatorTest.php
vendor/sebastian/comparator/tests/NumericComparatorTest.php
vendor/sebastian/comparator/tests/ObjectComparatorTest.php
vendor/sebastian/comparator/tests/ResourceComparatorTest.php
vendor/sebastian/comparator/tests/ScalarComparatorTest.php
vendor/sebastian/comparator/tests/SplObjectStorageComparatorTest.php
vendor/sebastian/comparator/tests/TypeComparatorTest.php
